manifest {
    name = 'ebi-gene-expression-group/scxa-tertiary-workflow'
    author = """Anil Thanki <anilthanki@ebi.ac.uk>, Iris Yu <irisyu@ebi.ac.uk>, Pedro Madrigal <pmadrigal@ebi.ac.uk>"""
    description = """Tertiary clustering workflow for single-cell expression analysis"""
    version = '1.0.0'
}

process {
    executor='slurm'
    queue="$SCXA_HPC_QUEUE"
    // clusterOptions="$SCXA_HPC_OPTIONS"
    time = '7 d'
    queueSize=500
    exitReadTimeout='100000 sec'
    pollInterval = '5sec'
    // errorStrategy to handle processes killed due to memory issues
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 5
    memory = { 
        def attemptMemory = 4.GB * Math.pow(2, task.attempt)
        def maxMemory = 256.GB
        return [attemptMemory, maxMemory].min()
    }
    
}

singularity {
    enabled = true
}

conda {
    // cacheDir = "$SCXA_WORKFLOW_ROOT/envs"
    createTimeout = "30 min"
    useMamba = true
}

params {
    dir_path = "."
    output_path = null
    result_dir_path = "${params.output_path ?: params.dir_path + '/results'}"
}

trace {
    enabled = true
    file = "${params.result_dir_path}/trace.txt"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.result_dir_path}/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.result_dir_path}/report.html"
    overwrite = true
}
