process {
    executor='slurm'
    queue="$SCXA_HPC_QUEUE"
    clusterOptions="$SCXA_HPC_OPTIONS"
    time = '7 d'
    memory = '4 GB'
    queueSize=500
    exitReadTimeout='100000 sec'
    pollInterval = '5sec'
}

conda {
    cacheDir = "$SCXA_WORKFLOW_ROOT/envs"
    createTimeout = "30 min"
    useMamba = true
}

params {

}
