profiles {
    test {
        process {
            executor='local'
            queue=null
            errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
            maxRetries = 2
            // standard GitHub-hosted runners for public repositories 16g
            memory = { 
                def attemptMemory = 4.GB * Math.pow(2, task.attempt)
                def maxMemory = 16.GB
                return [attemptMemory, maxMemory].min()
            }
            cpus = 2
            time = '30m'
        }
    }
}

singularity {
    enabled = true
}

conda {
    createTimeout = "30 min"
    useMamba = true
}
