/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    // executor options
    // executor                = 'slurm'
    // queue                   = "$SCXA_HPC_QUEUE"
    // clusterOptions="$SCXA_HPC_OPTIONS"
    executor                = 'local'
    time                    = '7 d'
    queueSize               = 500
    exitReadTimeout         = '100000 sec'
    pollInterval            = '5sec'

    // errorStrategy to handle processes killed due to memory issues
    errorStrategy           = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries              = 5
    memory                  = { 
        def attemptMemory   = 4.GB * Math.pow(2, task.attempt)
        def maxMemory       = 256.GB
        return [attemptMemory, maxMemory].min()
    }
    
}