/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    // errorStrategy to handle processes killed due to memory issues
    errorStrategy           = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries              = 10
    memory                  = { 
        // exponential growth
        def attemptMemory = 4.GB * Math.pow(2, task.attempt)
    
        // special cap only up to attempt 7
        if( task.attempt <= 7 ) {
            return [attemptMemory, 468.GB].min()
        } else  {
            return [attemptMemory, 2000.GB].min()
        }
    
        // attempt 8+ → allow full value should go to BigMem
        return attemptMemory
    }

    queue = {
    
        def q = System.getenv('SCXA_HPC_QUEUE')

        task.attempt <= 7 && q ? q : ''
    }
    
}
